In [1]:
!pip install mysql.connector
import mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 28.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-linux_x86_64.whl size=247950 sha256=88dd29d840965f0d1886d319d8665595da6ca736f6b305847bce4d17ba635a63
  Stored in directory: /root/.cache/pip/wheels/03/17/fa/d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [2]:
conn = mysql.connector.connect(host='database-1.cbmukie6y91x.ap-southeast-2.rds.amazonaws.com',user='admin',password='9THBmVTC6DwATQ3')

In [4]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [7]:
import pymysql
from sqlalchemy import create_engine

In [10]:
import pandas as pd
df = pd.read_csv(r"/IPL.csv")

/tmp/ipython-input-3556460391.py:2: DtypeWarning: Columns (20,28,29,30,31,32,43,46,47,48,51,63) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"/IPL.csv")

In [8]:
mycursor = conn.cursor()

In [9]:
mycursor.execute("CREATE DATABASE dream11")
conn.commit()

In [11]:
engine = create_engine("mysql+pymysql://admin:9THBmVTC6DwATQ3@database-1.cbmukie6y91x.ap-southeast-2.rds.amazonaws.com/dream11")
# {root}:{password}@{url}/{database}
df.to_sql('ipl', con = engine)

183982

In [14]:
import mysql.connector
conn = mysql.connector.connect(host='database-1.cbmukie6y91x.ap-southeast-2.rds.amazonaws.com',user='admin',password='9THBmVTC6DwATQ3',database="dream11")

In [15]:
mycursor = conn.cursor()

In [16]:
import pandas as pd

In [17]:
pd.read_sql_query("SELECT * FROM ipl",conn,index_col = "index")

/tmp/ipython-input-1205841383.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM ipl",conn,index_col = "index")

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
index,,,,,,,,,,,,,,,,,,,,,
0,131970,335982,2008-04-18,T20,Indian Premier League,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,1.0,...,1.0,1.0,0.0,None,0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",None,0.0
1,131971,335982,2008-04-18,T20,Indian Premier League,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,2.0,...,1.0,2.0,0.0,None,0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",None,0.0
2,131972,335982,2008-04-18,T20,Indian Premier League,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,3.0,...,2.0,2.0,0.0,None,0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",None,0.0
3,131973,335982,2008-04-18,T20,Indian Premier League,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,3.0,...,2.0,3.0,0.0,None,0.0,2.0,0.0,"('BB McCullum', 'SC Ganguly')",None,0.0
4,131974,335982,2008-04-18,T20,Indian Premier League,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,4.0,...,2.0,4.0,0.0,None,0.0,3.0,0.0,"('BB McCullum', 'SC Ganguly')",None,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183977,47271,1216511,2020-10-06,T20,Indian Premier League,2.0,Rajasthan Royals,Mumbai Indians,14.0,6.0,...,113.0,90.0,6.0,None,4.0,1.0,0.0,"('JC Archer', 'R Tewatia')",None,0.0
183978,47272,1216511,2020-10-06,T20,Indian Premier League,2.0,Rajasthan Royals,Mumbai Indians,15.0,1.0,...,113.0,91.0,6.0,None,5.0,5.0,0.0,"('JC Archer', 'R Tewatia')",None,0.0
183979,47273,1216511,2020-10-06,T20,Indian Premier League,2.0,Rajasthan Royals,Mumbai Indians,15.0,2.0,...,113.0,92.0,7.0,None,5.0,6.0,1.0,"('JC Archer', 'R Tewatia')",S Gopal,1.0
183980,47274,1216511,2020-10-06,T20,Indian Premier League,2.0,Rajasthan Royals,Mumbai Indians,15.0,3.0,...,114.0,93.0,7.0,S Gopal,1.0,1.0,0.0,"('JC Archer', 'S Gopal')",None,0.0
183981,47275,1216511,2020-10-06,T,None,NaN,None,None,NaN,NaN,...,NaN,NaN,NaN,None,NaN,NaN,NaN,None,None,NaN